<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/navigation :: head('쇼핑물 아이템')">

</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:replace="fragments/navigation :: menu(${user})">

</nav>
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder" th:text="${item.name}">item name</h1>
                <div class="fs-5 mb-5">
                    <span th:text="${item.price} + ' 원'">30,000 원</span>
                </div>
                <p class="lead" th:text="${item.text}">item text</p>
                <div class="d-flex">
                    <form th:action="@{/user/{id}/cart/{itemId}(id=${user.id}, itemId=${item.id})}" method="post" class="d-flex">
                        <input class="form-control text-center me-3" id="quantity" name="quantity" type="num" value="1"
                               style="max-width: 3rem"/>
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </form>
                </div>
                <div class="footer" sec:authorize="hasRole('ROLE_SELLER')" th:if="${item.user.id} == ${user.id}">
                    <a class="btn btn-outline-dark mt-auto" th:href="@{/item/modify/{id}(id=${item.id})}">수정</a>
                    <a class="btn btn-outline-dark mt-auto" th:href="@{/item/delete/{id}(id=${item.id})}">삭제</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">2022 MJU Shop Project</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts2.js"></script>
</body>
</html>